.row
{
    display: flex;
    flex-direction: column;
}
.order-1
{
margin-top: 9rem;
order: 1;
}
.order-2
{
    order: 2;
}

.box
{
    width: 10rem;

}
.text
{
    text-align: center;
}

.text a
{
    margin: auto;
    margin-left: 12rem;
    width:10rem!important;
}