.title-text {
    text-align: center;
    padding-bottom: 1rem;
}

.title-text p {
    margin-bottom: 0.30rem;
    color: #009688;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;

}

.title-text p::after {
    content: "";
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587, #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.title-text h1 {
    margin-top: 0.50rem;
    font-size: 50px;


}