/* MAİN PAGE */

#main-page .logo {
    left: 2rem !important;
}

#main-page h1 {
    font-size: 4rem !important;
    margin-bottom: 3rem !important;
}

#main-page .btn {
    display: block;
}

#navbar {
    width: 50% !important;
}

/* Features */

.title-text h1 {
    font-size: 30px !important;

}

#features .container {

    display: flex;
    flex-direction: column;

}

#features .container .features-div {
    flex-basis: 100%;
}

#features .container .img {
    margin-right: 3rem;

}


.features-div .icon .fa-solid {
    margin-top: 2.25rem;
}

/* SERVİCES */

#service {
    margin-top: 16rem;
}

#service .service-box {
    flex-direction: column;
}

.single-service:hover .service-desc {
    bottom: 17% !important;
}

/* SOCİAL */

#social .social-row {
    flex-direction: column;
}

#social .social-row .tweet-box
{
    margin-top: 1rem;
}

/* footer */

#footer .container{
    flex-direction: column;
   
    
}
.container .row-left
{
    margin: 2rem 0.50rem 0 0 !important;
    
    font-size: 14px;
}
.container .row-right
{
    font-size: 14px;
    margin: 5rem 0.50rem 0 0 !important;
    
}