/* MAİN PAGE */
#navbar {
    width: 30% !important;
}

#main-page .logo {
    left: 3rem !important;
}

/* Features */

.title-text h1 {
    font-size: 30px !important;

}

#features .container {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;

}

#features .container .features-div {
    flex-basis: 100%;
}

#features .container .img {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width: 80%;
}


.features-div .icon .fa-solid {
    margin-top: 0.35rem;
}


/* SERVİCES */

#service {
    margin-top: 13rem;
}

#service .service-box {
    display: flex;
    flex-direction: column;
}


#service .service-box .single-service {
    margin-top: 5rem !important;

}

.service-box .single-service .overlay {
    
    height: 108.25%!important;
}


/* SOCİAL */

#social .social-row {
    flex-direction: column;
}

#social .social-row .tweet-box {
    margin-top: 1rem;
}



/* footer */

#footer .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .row-left {
    margin: 2rem 0.50rem 0 0 !important;

    font-size: 20px;
}

.container .row-right {
    font-size: 20px;
    margin: 5rem 0.50rem 0 0 !important;

}